@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');


.main {
  height: 100%;
  width: 100%;
  background-color: #042D5F;
}

.home-page-grid {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.menu {
  background-color: #161C3C;
  grid-template-rows: 100%; 
  grid-template-columns: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8% 8% 8% 8%;
  padding-top: 75px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: gray;
  font-family: 'Outfit';
  height: 40px;
  padding-left: 10px;
  cursor: pointer;
}

.home-network-diagram-grid {
  display: grid;
  grid-template-rows: 20% 80%;
  height: 100%;
}

.header-bar {
  background-color: #042D5F;
  height: 4rem;
}

.main-section {
  background-color: #1E3A6E;
  height: 100%; 
  grid-template-columns: 100%;
  position: fixed;
  width: 75%;
  overflow: auto;
}

.menu-title {
  margin-bottom: 75px;
  color: white;
  text-align: center;
  font-family: 'Outfit';
  cursor: pointer;
  height: 100px;
}

body {
  background-color: #042D5F;
  padding: 0;
  margin: 0;
}

.secure {
  font-weight: 500;
}

.scape {
  font-weight: 100;
  margin-left: -5px;
}

.button-general {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Outfit';
  color: grey;
  margin: 20px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.vulnerbility-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  color: grey;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  font-family: 'Outfit';
}

.vulnerability-attribute {
  padding: 10px;
}

.vulnerability-header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  color: grey;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
  font-family: 'Outfit';
}


.loading-logo {
  height: 50px;
  width: 50px;
}

.loading-div {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.root-pw-input-div {
  position: relative;
  display: none;
  grid-template-columns: auto;
  margin: auto;
  justify-content: center;
  width: 15rem;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.75);
  margin-top: -20px;
  margin-bottom: 20px;
}

.pw-label {
  color: rgb(103, 102, 102);
  font-family: 'Outfit';
}

.pw-input {
  border-radius: 5px;
  border: none;
}

.close-icon {
  height: 20px;
  width: 20px;
  padding: 5px;
  margin-left: -27px;
  cursor: pointer;
}

.root {
  margin: auto;
}

.endpoint-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin: auto;
  justify-content: center;
  margin-top: -40px;
}

.endpoint-card {
  background-color: white;
  border-radius: 15px;
  color: black;
  font-family: 'Outfit';
  margin: 10px;
  padding: 10px;
  /* min-height: 20rem; */
  height: 19.5rem;
  /* overflow: auto; */
}

.port-container {
  display: grid;
  grid-template-columns: 25% 40% 35%;
  padding-top : 10px;
}

.network-diagram {
  height: 700px;
  width: 700px;
  padding: auto;
}

.network-diagram-div {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 150px;
}

.device-data-container {
  margin: auto;
  padding: 20px;
  justify-content: center;
  width: 75%;
}

.device-information-title {
  margin-bottom: 15px;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Outfit';
  color: hsl(0, 0%, 96%);
}

.device-information-body {
  padding: 15px;
  border-radius: 15px;
  font-family: 'Outfit';
}

.device-port-information {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: hsl(0, 0%, 96%);
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

.vulner-modal {
  display: none;
  z-index: 1;
  position: absolute;
  width: 50vw;
  height: 60vh;
  margin-left: 12%;
  background-color: #161C3C;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cve-id {
  font-weight: bold;
}

.cve-id:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-vulner-content {
  background-color: #1E3A6E;
  height: 100%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(177, 177, 177);
  font-family: 'Outfit';
  overflow: auto;
}

.modal-close {
  position: absolute;
  height: 20px;
  width: 20px;
  filter: invert(80%) grayscale(100%);
}

.start-due {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.diagram-container {
  width: 75%;
  height: 75%;
  background-color: rgba(240, 240, 240, 0.4);
  margin: auto;
  padding: 15px;
  margin-top: -15px;
}

.login-body {
  height: 100vh;
  width: 100vw;
  background-color: #1E3A6E;
}

.login-div {
  display: grid;
  justify-content: center;
  margin: auto;
  background-color: #161C3C;
  width: 40%;
  height: 300px;
  padding: 40px;
  margin-top: 20%;
  border-radius: 15px;
  color: hsl(0, 0%, 96%);
  font-family: 'Outfit';
  place-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.profile-div {
  margin-top: auto;
  padding-bottom: 20px;
  padding-left: 20px;
}

.profile-grid {
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding-top: 100px;
  color: hsl(0, 0%, 96%);
  font-family: 'Outfit';
}

.logout-container {
  display: grid;
  margin: auto;
  place-items: center;
  padding-top: 100px;
}

.login-grid-item {
  display: grid;
  grid-template-columns: 80% 20%;
}

.node-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 50%;
  overflow: auto;
  background-color: #161C3C;
  margin-top: -600px;
  margin-left: 22%;
  place-self: center;
  border-radius: 20px;
  font-family: 'Outfit';
  overflow: auto;
}

.node-modal-content {
  background-color: hsl(0, 0%, 90%);
  margin: 12% auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  overflow: auto;
}

.node-port-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.node-modal-header {
  display: grid;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.refresh-data-btn {
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: 'Outfit';
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* Ensure parent div can contain the tooltip content */
  overflow: visible; /* Allow content to overflow outside the parent div */
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* Position the tooltip outside of its parent div */
  top: -80%;
  left: -60%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}